{% extends 'base.html' %}
{% load static %}
{% block title %}GEOREAL{% endblock %}



{% block content %}
<div class="main_home_container">

  <section id="home">
    <div class="endpoint"></div>
    <div class="main_title_container">
        <h1>GEOREAL</h1>
        <h1>Vaše individuálne riešenia</h1>
        <h1><strong>v oblasti geodetických služieb</strong></h1>
    </div>
    <div class="video_container">
      <video autoplay="autoplay" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto"  id="myVideo">
        <source src="{% static 'media/georeal3.mp4' %}" type="video/mp4">
        Tento prohlížeč nepodporuje přehrávání videa.
      </video>

    </div>
    <div class="top_home_container">
        <!-- <div class="title_home_container">
            <h1>GEOREAL</h1>
            <h1>Vaše individuálne riešenia</h1>
            <h1><strong>v oblasti geodetických služieb</strong></h1>
        </div> -->
        <div class="item_home_container">
            <p>Sme vaši spoľahliví partneri na geodetickom poli, aktívni na slovenskom trhu už od roku 1995.</p>
            <p>Či už ide o meranie pár metrov alebo niekoľko kilometrov, spoločnosť GEOREAL vám prináša rýchle a kvalitné riešenia za skvelú cenu</p>
            <p>Naša činnosť je zameraná na stredné Slovensko, avšak nezabúdame ani na širšie oblasti, vrátane miest ako Prievidza, Handlová, Banská Bystrica a ďalších častí Slovenska</p>
            <p>Od merania stavebných pozemkov po inovatívne riešenia kanalizácie, sme tu pre vás so skúsenosťami a odhodlaním už od roku 1995.</p>
            <p></p>
        </div>
    </div>
  </section>

  <section id="sluzby">

    <div class="sluzby_container">
        <div class="title_home_container ">
            <h1>PONÚKANÉ SLUŽBY</h1>
            <a href="#sluzby"><i class="fas fa-chevron-down"></i></a>
        </div>
    </div>

    <div class="right_home_container">
        <div class="title_home_container">
            <h2>GEOMETRICKÉ PLÁNY:</h2>
        </div>
        <div class="item_home_container">
            <p><i class="fas fa-map-marker-alt"></i>Zameranie adresného bodu</p>
            <p><i class="fas fa-map-pin"></i>Zameranie pozemkov</p>
            <p><i class="fas fa-hard-hat"></i>Zameranie stavieb</p>
            <p><i class="fas fa-gavel"></i>Majetkoprávne vysporiadanie</p>
            <p><i class="fas fa-map"></i>Vytyčovanie hraníc pozemkov</p>
            <p><i class="fas fa-building"></i>Vytyčovanie stavieb</p>
            <p><i class="fas fa-handshake"></i>Vecné bremená</p>
            <p><i class="fas fa-search"></i>Kontrolné merania (stavby,pozemky,ploty..)</p>
        </div>
    </div>

    <div class="down_home_container">
        <div class="title_home_container">
            <h1>INŽINIERSKA GEODÉZIA:</h1>
        </div>
        <div class="item_home_container">
            <p><i class="fas fa-ruler-combined"></i>Zameranie skutočného vyhotovenia stavieb (porealizačné  zameranie)</p>
            <p><i class="fas fa-landmark"></i>Polohopisné a výškopisné práce</p>
            <p><i class="fas fa-crosshairs"></i>Zameranie a vytýčenie líniových stavieb</p>
        </div>
    </div>
  </section>

<section id="kontakt">
    <div class="kontakt_container">
        <div class="title_home_container">
            <h1>KONTAKT</h1>
            <a href="#kontakt"><i class="fas fa-chevron-down"></i></a>
        </div>
    </div>

    <div class="address_container">
        <div class="up_address_container">
            <div class="title_home_container2">
                <h1>Ozvite sa nám</h1>
                <h2>Dostali ste cenovú ponuku a tá sa Vám zdá privysoká ?<br> Pošlite nám ju a vynasnažíme sa spraviť lepšiu.</h2>
            </div>
            <div class="item_home_container2">
                <p>GEOREAL</p>
                <p>1.mája č.95</p>
                <p>972 51</p>
                <p>Handlová</p>
                <p>Slovensko</p>
                <p><i class="fas fa-mobile-alt"></i><a href="tel:+421905696520">0905 696 520</a></p>
                <p><i class="fas fa-phone-alt"></i><a href="tel:046/5477 520">046/5477 520</a></p>
                <p><i class="far fa-envelope"></i><a href="mailto:pukacmilan@gmail.com">pukacmilan@gmail.com</a></p>
            </div>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2198.2111596300256!2d18.763811704891722!3d48.726666966877936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4714df4e5e4d88a1%3A0x60b93e1df7a66198!2zMS4gbcOhamEgNDQ5Lzk1LCA5NzIgNTEgSGFuZGxvdsOh!5e0!3m2!1ssk!2ssk!4v1683456749105!5m2!1ssk!2ssk" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

</div>


<!-- <script>
  document.addEventListener('scroll', function () {
    const topContainer = document.querySelector('.top_home_container');
    const sluzbyContainer = document.querySelector('.sluzby_container');
    const rightContainer = document.querySelector('.right_home_container');
    const downContainer = document.querySelector('.down_home_container');
    const kontaktContainer = document.querySelector('.kontakt_container');
    const addressContainer = document.querySelector('.address_container');
    const topContainerRect = topContainer.getBoundingClientRect();
    const windowHeight = window.innerHeight;


    if (topContainerRect.bottom <= windowHeight - 1400) {
      sluzbyContainer.classList.add('hidden2');
    } else if (topContainerRect.bottom <= windowHeight - 200) {
      sluzbyContainer.classList.remove('hidden2');
    } else {
      sluzbyContainer.classList.add('hidden2');
    }

    if (topContainerRect.bottom <= windowHeight - 1400) {
      rightContainer.classList.add('hidden');
    } else if (topContainerRect.bottom <= windowHeight - 500) {
      rightContainer.classList.remove('hidden');
    } else {
      rightContainer.classList.add('hidden');
    }

    if (topContainerRect.bottom <= windowHeight - 1400) {
      downContainer.classList.add('hidden2');
    } else if (topContainerRect.bottom <= windowHeight - 700) {
      downContainer.classList.remove('hidden2');
    } else {
      downContainer.classList.add('hidden2');
    }

      if (topContainerRect.bottom <= windowHeight - 1000) {
      kontaktContainer.classList.remove('hidden2');
    } else {
      kontaktContainer.classList.add('hidden2');
    }

      if (topContainerRect.bottom <= windowHeight - 1200) {
      addressContainer.classList.remove('hidden');
    } else {
      addressContainer.classList.add('hidden');
    }
  });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('.title_home_container h2').addClass('centered');
    });
</script> -->




<script>
function checkDarkMode() {
  const isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
  if (isDarkMode) {
    document.body.classList.add('dark');
  } else {
    document.body.classList.remove('dark');
  }
}

checkDarkMode(); // volanie funkcie na začiatku
</script>

{% endblock %}