{% extends 'base.html' %}
{% load static %}
{% block title %}GEOREAL{% endblock %}



{% block content %}
<div class="main_home_container">
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="{% static 'media/2360943.jpg' %}">
        </div>
{#        <div class="mySlides fade">#}
{#            <img src="{% static 'media/shutterstock_13693108731-5f89a71c3e503.jpeg' %}">#}
{#        </div>#}
{#        <div class="mySlides fade">#}
{#            <img src="{% static 'media/priloha4-strana1.png' %}">#}
{#        </div>#}

        <div class="row_dot" style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>

    <div class="top_home_container">
        <div class="title_home_container">
            <h2 id="typewriter">GEOREAL Vám prináša prispôsobené <strong>geodetické</strong> služby</h2>
        </div>
        <div class="item_home_container">
            <p>Nerozhoduje, aký veľký rozsah zákazky nám zveríte, či pôjde o niekoľko metrov alebo kilometrov, spoločnost Georeal zabezpečí rýchle a kvalitné riešenie za nekonkurenčnú cenu.</p>
            <p>- Viac ako 30 rokov odbornej praxe za dostupné ceny</p>
            <p>- neuctujeme dph</p>
        </div>
    </div>


<section id="sluzby">

    <div class="sluzby_container hidden2">
        <div class="title_home_container">
            <h1>PONÚKANÉ SLUŽBY</h1>
            <a href="#sluzby"><i class="fas fa-chevron-down"></i></a>
        </div>
    </div>

    <div class="right_home_container hidden">
        <div class="title_home_container">
            <h2>GEOMETRICKÉ PLÁNY:</h2>
        </div>
        <div class="item_home_container">
            <p><i class="fas fa-map-marker-alt"></i>Zameranie adresného bodu</p>
            <p><i class="fas fa-map-pin"></i>Zameranie pozemkov</p>
            <p><i class="fas fa-hard-hat"></i>Zameranie stavieb</p>
            <p><i class="fas fa-gavel"></i>Majetkoprávne vysporiadanie</p>
            <p><i class="fas fa-map"></i>Vytyčovanie hraníc pozemkov</p>
            <p><i class="fas fa-building"></i>Vytyčovanie stavieb</p>
            <p><i class="fas fa-handshake"></i>Vecné bremená</p>
            <p><i class="fas fa-search"></i>Kontrolné merania (stavby,pozemky,ploty..)</p>
        </div>
    </div>

    <div class="down_home_container hidden2">
        <div class="title_home_container">
            <h2>INŽINIERSKA GEODÉZIA:</h2>
        </div>
{#                <img src="{{ home_photo.image.url }}" alt="{{ home_photo.name }}">#}
        <div class="item_home_container">
            <p><i class="fas fa-ruler-combined"></i>Zameranie skutočného vyhotovenia stavieb (porealizačné  zameranie)</p>
            <p><i class="fas fa-landmark"></i>Polohopisné a výškopisné práce</p>
            <p><i class="fas fa-crosshairs"></i>Zameranie a vytýčenie líniových stavieb</p>
        </div>
    </div>
</section>

<section id="kontakt">
    <div class="kontakt_container hidden2">
        <div class="title_home_container">
            <h1>KONTAKT</h1>
            <a href="#kontakt"><i class="fas fa-chevron-down"></i></a>
        </div>
    </div>

    <div class="address_container hidden">
        <div class="up_address_container">
            <div class="title_home_container2">
                <h1>Ozvite sa nám</h1>
                <h2>Dostali ste cenovú ponuku a tá sa Vám zdá privysoká ?<br> Pošlite nám ju a vynasnažíme sa spraviť lepšiu.</h2>
            </div>
            <div class="item_home_container2">
                <p>GEOREAL</p>
                <p>1.mája č.95</p>
                <p>972 51</p>
                <p>Handlová</p>
                <p>Slovensko</p>
                <p><i class="fas fa-mobile-alt"></i><a href="tel:+421905696520">0905 696 520</a></p>
                <p><i class="fas fa-phone-alt"></i><a href="tel:046/5477 520">046/5477 520</a></p>
                <p><i class="far fa-envelope"></i><a href="mailto:pukacmilan@gmail.com">pukacmilan@gmail.com</a></p>
            </div>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2198.2111596300256!2d18.763811704891722!3d48.726666966877936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4714df4e5e4d88a1%3A0x60b93e1df7a66198!2zMS4gbcOhamEgNDQ5Lzk1LCA5NzIgNTEgSGFuZGxvdsOh!5e0!3m2!1ssk!2ssk!4v1683456749105!5m2!1ssk!2ssk" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>


{#    <div class="login_container">#}
{#        <form action="#" method="post">#}
{#            <p>#}
{#                <input type="text" id="name" name="name" required>#}
{#                <label for="name">Meno:</label>#}
{#            </p>#}
{#            <p>#}
{#                <input type="email" id="email" name="email" required>#}
{#                <label for="email">E-mail:</label>#}
{#            </p>#}
{#            <p>#}
{#                <input id="message" name="message" required>#}
{#                <label for="message">Správa:</label>#}
{#            </p>#}
{#            <button type="submit">Odoslať</button>#}
{#        </form>#}
{#    </div>#}
</section>

</div>
<script>
    const labels = document.querySelectorAll(".login_container form p label");

    labels.forEach((label) => {
        label.innerHTML = `<span>${label.innerText}</span>`;
        label.querySelector("span").style.transitionDelay = "0ms";
    });
</script>


<script>
  document.addEventListener('scroll', function () {
    const topContainer = document.querySelector('.top_home_container');
    const sluzbyContainer = document.querySelector('.sluzby_container');
    const rightContainer = document.querySelector('.right_home_container');
    const downContainer = document.querySelector('.down_home_container');
    const kontaktContainer = document.querySelector('.kontakt_container');
    const addressContainer = document.querySelector('.address_container');
    const topContainerRect = topContainer.getBoundingClientRect();
    const windowHeight = window.innerHeight;


    if (topContainerRect.bottom <= windowHeight - 1400) {
      sluzbyContainer.classList.add('hidden2');
    } else if (topContainerRect.bottom <= windowHeight - 200) {
      sluzbyContainer.classList.remove('hidden2');
    } else {
      sluzbyContainer.classList.add('hidden2');
    }

    if (topContainerRect.bottom <= windowHeight - 1400) {
      rightContainer.classList.add('hidden');
    } else if (topContainerRect.bottom <= windowHeight - 500) {
      rightContainer.classList.remove('hidden');
    } else {
      rightContainer.classList.add('hidden');
    }

    if (topContainerRect.bottom <= windowHeight - 1400) {
      downContainer.classList.add('hidden2');
    } else if (topContainerRect.bottom <= windowHeight - 700) {
      downContainer.classList.remove('hidden2');
    } else {
      downContainer.classList.add('hidden2');
    }

      if (topContainerRect.bottom <= windowHeight - 1000) {
      kontaktContainer.classList.remove('hidden2');
    } else {
      kontaktContainer.classList.add('hidden2');
    }

      if (topContainerRect.bottom <= windowHeight - 1200) {
      addressContainer.classList.remove('hidden');
    } else {
      addressContainer.classList.add('hidden');
    }
  });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('.title_home_container h2').addClass('centered');
    });
</script>

{#<script>#}
{#    $(document).ready(function() {#}
{#        $('.item_home_container p').addClass('centered');#}
{#    });#}
{#</script>#}

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

// Automatické prechádzanie fotiek
function autoSlides() {
  plusSlides(1);
}

let autoSlidesInterval = setInterval(autoSlides, 5000); // Zmena fotiek každé 2 sekundy (2000 ms)
</script>

{#<script>#}
{#const typewriterElement = document.getElementById('typewriter');#}
{#const text = typewriterElement.innerHTML;#}
{#typewriterElement.innerHTML = '';#}
{#let currentIndex = 0;#}
{##}
{#function typeWriter() {#}
{#    if (currentIndex < text.length) {#}
{#        const currentCharacter = text.charAt(currentIndex);#}
{#        if (currentCharacter === '<') {#}
{#            const closingTagIndex = text.indexOf('>', currentIndex);#}
{#            typewriterElement.innerHTML += text.slice(currentIndex, closingTagIndex + 1);#}
{#            currentIndex = closingTagIndex + 1;#}
{#        } else {#}
{#            typewriterElement.innerHTML += currentCharacter;#}
{#            currentIndex++;#}
{#        }#}
{#        setTimeout(typeWriter, 40); // Adjust this value to change typing speed#}
{#    }#}
{##}
{#typeWriter();#}
{##}
{#</script>#}


<script>

function checkDarkMode() {
  const isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
  if (isDarkMode) {
    document.body.classList.add('dark');
  } else {
    document.body.classList.remove('dark');
  }
}

checkDarkMode(); // volanie funkcie na začiatku
</script>

{% endblock %}