
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
<div class="pricing_container">

  <style>
    section#cennik{
        display: flex;
        flex-direction: column;
        gap: 5px;
        /* scale: 0.9; */
        /* border: red 1px solid; */
        font-family: 'Dosis', sans-serif;
        font-weight: 900;
    }
    .pricing_container{
        
        width: 600px;
        margin: 0 auto;
        /* padding-top: 10px; */
    }
    .pricing-table {
        width: 100%;
        border-collapse: collapse;
        font-weight: 900;
    }

    .pricing-table th {
        background-color: #5e5e5e;
        color: white;
        padding: 12px;      
        /* text-align: left; */
        /* border: red 1px solid; */
    }
    .pricing-table th:nth-last-child(-n+2) {
        text-align: center;
    }
    
    .pricing-table tr:nth-child(even) {
        background-color: #f8f9ff;
    }
    
    .pricing-table td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    

    </style>
    
    <style>
        table{
            border-radius: 10px;
        }
.pricing-table {
    width: 100%;
    border-collapse: collapse;
    font-weight: 900;
}

.pricing-table th {
    background-color: #606879;
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: 900;
    /* border: blue 1px solid; */
}

.pricing-table tr:nth-child(even) {
    background-color: #f8f9ff;
}

.pricing-table td {
    padding: 10px;
    /* max-width: 250px; */
    border-bottom: 1px solid #ddd;
    
}
.pricing-table td:first-child {

    width: 350px;
}

.price-column {
    text-align: center;
}
</style>

<section id="cennik">
    <!-- <h2>Základné služby</h2>
    <table class="pricing-table">
        <tr>
            <th>Názov služby</th>
            <th>Cena bez DPH</th>
            <th>Cena s DPH</th>
        </tr>
        <tr>
            <td>Prvá konzultácia</td>
            <td class="price-column">zdarma</td>
            <td class="price-column">-</td>
        </tr>
        <tr>
            <td>Druhá konzultácia</td>
            <td class="price-column">60 €</td>
            <td class="price-column">72,00 €</td>
        </tr>
        <tr>
            <td>Jedna jazyková verzia</td>
            <td class="price-column">-50% z ceny</td>
            <td class="price-column">-</td>
        </tr>
        <tr>
            <td>Prioritné riešenie projektu</td>
            <td class="price-column">+100% z ceny</td>
            <td class="price-column">-</td>
        </tr>
    </table> -->

    <h2>Webové riešenia</h2>
    <table class="pricing-table">
        <tr>
            <th>Názov služby</th>
            <th>Cena bez DPH</th>
            <th>Cena s DPH</th>
        </tr>
        <tr>
            <td>Basic Web (Web XS)</td>
            <td class="price-column">499 €</td>
            <td class="price-column">598,80 €</td>
        </tr>
        <tr>
            <td>Business Web (Web S)</td>
            <td class="price-column">1049 €</td>
            <td class="price-column">1258,00 €</td>
        </tr>
        <tr>
            <td>Professional Web (Web M)</td>
            <td class="price-column">1574 €</td>
            <td class="price-column">1888,00 €</td>
        </tr>
        <tr>
            <td>Premium Web (Web L)</td>
            <td class="price-column">2099 €</td>
            <td class="price-column">2518,00 €</td>
        </tr>
    </table>

    <h2>E-commerce riešenia</h2>
    <table class="pricing-table">
        <tr>
            <th>Názov služby</th>
            <th>Cena bez DPH</th>
            <th>Cena s DPH</th>
        </tr>
        <tr>
            <td>Riešenie e-shop pre existujúcu webstránku</td>
            <td class="price-column">1299 €</td>
            <td class="price-column">1558,80 €</td>
        </tr>
        <tr>
            <td>E-shop starter</td>
            <td class="price-column">2999 €</td>
            <td class="price-column">3598,80 €</td>
        </tr>
        <tr>
            <td>E-shop business</td>
            <td class="price-column">3499 €</td>
            <td class="price-column">4198,80 €</td>
        </tr>
        <tr>
            <td>E-shop enterprise</td>
            <td class="price-column">4999 €</td>
            <td class="price-column">5998,80 €</td>
        </tr>
    </table>
    
    <h2>Grafické riešenia</h2>
    <table class="pricing-table">
        <tr>
            <th>Názov služby</th>
            <th>Cena bez DPH</th>
            <th>Cena s DPH</th>
        </tr>
        <tr>
            <td>Návrh loga - základný balík</td>
            <td class="price-column">299 €</td>
            <td class="price-column">358,80 €</td>
        </tr>
        <tr>
            <td>Návrh loga - prémiový balík (vrátane brandbooku)</td>
            <td class="price-column">599 €</td>
            <td class="price-column">718,80 €</td>
        </tr>
        <tr>
            <td>UI/UX dizajn webstránky</td>
            <td class="price-column">od 199 €</td>
            <td class="price-column">238,80 €</td>
        </tr>
        <tr>
            <td>Grafický návrh banneru</td>
            <td class="price-column">89 €</td>
            <td class="price-column">106,80 €</td>
        </tr>
        <tr>
            <td>Dizajn vizitky</td>
            <td class="price-column">69 €</td>
            <td class="price-column">82,80 €</td>
        </tr>
        <tr>
            <td>Dizajn hlavičkového papiera</td>
            <td class="price-column">79 €</td>
            <td class="price-column">94,80 €</td>
        </tr>
        <tr>
            <td>Kompletný firemný dizajn manuál</td>
            <td class="price-column">1169 €</td>
            <td class="price-column">1402,44 €</td>
        </tr>
        <tr>
            <td>Úprava existujúceho loga</td>
            <td class="price-column">149 €</td>
            <td class="price-column">178,80 €</td>
        </tr>

    </table>
    <h2>Doplnkové služby</h2>
    <table class="pricing-table">
        <tr>
            <th>Názov služby</th>
            <th>Cena bez DPH</th>
            <th>Cena s DPH</th>
        </tr>
        <tr>
            <td>Prvá konzultácia</td>
            <td class="price-column">zdarma</td>
            <td class="price-column">-</td>
        </tr>
        <tr>
            <td>Druhá konzultácia</td>
            <td class="price-column">60 €</td>
            <td class="price-column">72,00 €</td>
        </tr>
        <tr>
            <td>SEO optimalizácia</td>
            <td class="price-column">od 299 €</td>
            <td class="price-column">358,80 €</td>
        </tr>
        <tr>
            <td>Responzívny dizajn</td>
            <td class="price-column">od 240 €</td>
            <td class="price-column">288,00 €</td>
        </tr>
        <tr>
            <td>Webová analytika</td>
            <td class="price-column">od 144 €</td>
            <td class="price-column">172,80 €</td>
        </tr>
        <tr>
            <td>Správa obsahu</td>
            <td class="price-column">od 120 €</td>
            <td class="price-column">144,00 €</td>
        </tr>
        <tr>
            <td>Implementácia do produkčného prostredia alebo presun dát (zahŕňa prenos hostingu, súborov, databáz a e-mailových účtov)</td>
            <td class="price-column">149 €</td>
            <td class="price-column">178,80 €</td>
        </tr>
    </table>

    <h2>Zabezpečenie a výkon</h2>
    <table class="pricing-table">
        <tr>
            <th>Názov služby</th>
            <th>Cena bez DPH</th>
            <th>Cena s DPH</th>
        </tr>
        <tr>
            <td>Google Analytics - implementácia a nastavenie</td>
            <td class="price-column">od 151 €</td>
            <td class="price-column">181 €</td>
        </tr>
        <tr>
            <td>Ochrana proti spamu a automatizovaným robotom</td>
            <td class="price-column">37 €</td>
            <td class="price-column">44 €</td>
        </tr>
        <tr>
            <td>Implementácia bezpečnostných opatrení proti kybernetickým útokom</td>
            <td class="price-column">37 €</td>
            <td class="price-column">44 €</td>
        </tr>
        <tr>
            <td>SSL certifikát s automatickou obnovou</td>
            <td class="price-column">zdarma</td>
            <td class="price-column">-</td>
        </tr>
        <tr>
            <td>Nastavenie užívateľských rolí a oprávnení</td>
            <td class="price-column">50 €</td>
            <td class="price-column">60 €</td>
        </tr>
        <tr>
            <td>Pridanie vlastných dátových polí</td>
            <td class="price-column">38 €</td>
            <td class="price-column">45 €</td>
        </tr>
        <tr>
            <td>Vytvorenie a správa vývojového prostredia</td>
            <td class="price-column">126 €</td>
            <td class="price-column">151 €</td>
        </tr>
    </table>

</section>
</div>
