asgiref==3.6.0
attrs==23.1.0
build==0.10.0
CacheControl==0.13.1
certifi==2023.7.22
cffi
charset-normalizer==3.3.1
cleo==2.0.1
crashtest==0.4.1
distlib==0.3.7
Django
dulwich==0.21.6
filelock
gunicorn==21.2.0
idna==3.4
importlib-metadata
installer==0.7.0
jaraco.classes
jsonschema
keyring
more-itertools
msgpack
packaging
pexpect
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
ptyprocess
pycparser
pyproject_hooks
pyrsistent
rapidfuzz
requests
requests-toolbelt
shellingham
sqlparse
tomlkit
trove-classifiers
urllib3
virtualenv
xattr
zipp

whitenoise
